@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Josefin+Slab&display=swap');

#logo {
    font-family: 'Fredericka the Great', cursive;
    padding-left: 20px;
}

.mobile-logo {
    font-family: 'Fredericka the Great', cursive;
}

#subtitle {
    font-family: 'Josefin Slab', serif;
    font-size: smaller;
}

ul li {
    font-family: 'Josefin Slab', serif;
}

/* This ovverides some materialize css that centres the brand logo classed element on smaller screens. */

@media only screen and (max-width: 992px){
nav .brand-logo {
    left: 0;
    display: inline;
    position: relative;
}}