{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add a New Method</h3>

<div class="row">
    <form class="col s12" method="POST" action="">
        <div class="card-panel brown lighten-2">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-file-signature prefix orange-text text-lighten-2"></i>
                    <input id="method_name" name="method_name" minlength="5" maxlength="50" 
                        type="text" class="validate" required>
                    <label for="method_name" class="white-text">Method Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix orange-text text-lighten-2"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option class= "white-text" value="" disabled selected>Choose your method's category</option>
                        {% for category in categories %}
                            <option class= "white-text" value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label class= "white-text" for="category_name">Select Method Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix orange-text text-lighten-2"></i>
                    <textarea id="method_description" name="method_description" minlength="5" maxlength="200"
                        class="materialize-textarea validate" required></textarea>
                    <label for="method_description" class="white-text">Method Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fab fa-youtube prefix orange-text text-lighten-2"></i>
                    <input id="method_video" name="method_video" type="url" class="validate">
                    <label for="method_video" class="white-text">YouTube Link (Optional)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ol prefix orange-text text-lighten-2"></i>
                    <textarea id="method_steps" name="method_steps" minlength="5" maxlength="2000"
                        class="materialize-textarea validate" required></textarea>
                    <label for="method_steps" class="white-text">Method Steps</label>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}