<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>DIYourself - DIY Method Repository</title>
</head>

<body>
    <!-- Main Nav bar on Desktop -->
    <header>
        <nav class="brown lighten-2">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_methods') }}" class="brand-logo" id="logo">DIYourself<span id="subtitle" class="hide-on-med-and-down"> -
                        A practicle methods sharing forum</span></a>
                <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_methods') }}">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Add Method</a></li>
                    <li><a href="#">My Profile</a></li>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Sign Out</a></li>
                    <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                </ul>
            </div>
        </nav>
        <!-- Mobile Nav Menu -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align mobile-logo brown-text lighten-2">DIYourself</h4>
            </li>
            <li><a href="{{ url_for('get_methods') }}">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Add Method</a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Sign Out</a></li>
            <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
        </ul>
    </header>

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>