{% extends "base.html" %}
{% block content %}

<h3 class="center-align">All DIY Methods</h3>

{% for method in methods %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card orange darken-2">
            <div class="card-content white-text">
                <span class="card-title title">{{ method.method_name }}</span>
                <span>&nbsp;&nbsp;by {{ method.created_by }}</span>
                <span class="right category-name">{{ method.category_name }}</span>
                <p>{{ method.method_description }}</p>
            </div>
            <div class="card-action black-text">
                <a href="#">View Method</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}