{% extends "base.html" %}
{% block content %}

<div class="stage-wrapper">

    <img src="{{ url_for('static', filename='assets/images/theming/woodwork-tools3-min.png') }}"
        alt="image of various woodworking woodworking tools" class="background-image">

    <main class="container content-wrapper">

        <h3 class="center-align all-methods white-text">All DIY Methods</h3>
        {% for method in methods %}
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card orange darken-2">
                    <div class="card-content white-text">
                        <span class="card-title title">{{ method.method_name }}</span>
                        <span>&nbsp;&nbsp;by {{ method.created_by }}</span>
                        <span class="right category-name">{{ method.category_name }}</span>
                        <p>{{ method.method_description }}</p>
                    </div>
                    <div class="card-action black-text">
                        <a href="{{ url_for('method', method_id=method._id) }}" target="_blank">View Method</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>
</div>
{% endblock %}